body{
    background-color:#080810;
    font-size:20px;
    font-family:'Yu Gothic';
    margin:0;
    z-index:1}

p{
    margin:0;
    margin-left:16px;}
h1{
    margin:0;
    margin-left:16px;}
a{
    color:dodgerblue;
    margin:0;
    margin-left:16px;
    word-break:break-all}
a:hover{
    text-decoration:underline;}

#top-header{
    align-items:center;
    background-color:#202040;
    color:aliceblue;
    display:flex;
    height:50px;
    width:100%;
    position:fixed;
    top:0;
    z-index:3;}
#top-header_title{
    color:#8787fa;
    font-family:"Comic Sans MS";
    font-size:30px;
    margin:0;
    text-decoration:none;}
#top-header_title:hover{
    color:aliceblue;
    position:relative;}

#left-sidebar{
    background-color:#101020;
    color:aliceblue;
    height:calc(100vh - 50px);
    width:250px;
    overflow-y:auto;
    position:fixed;
    top:50px;
    z-index:2;}
#right-sidebar{
    background-color:#101020;
    color:aliceblue;
    height:calc(100vh - 50px);
    width:350px;
    overflow-y:auto;
    right:0;
    position:fixed;
    top:50px;
    z-index:2;}

#content{
    background-color:#ffffff;
    left:275px;
    position:absolute;
    top:75px;
    width:calc(100% - 650px);
    z-index:2;}