html{
    width:100%;
    height:100%;
    margin:0;}
body{
    background-color:#080810;
    margin:0;}
iframe{
    border:none;
    width:100%;
    height:100%;}
p{
    color:aliceblue;
    margin:0;
    margin-left:8px;}
a{
    color:aliceblue;
    text-decoration:none;
    margin-left:8px;}
a:hover{
    text-decoration:underline;}

#main{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;}
      
#top-header{
    display:flex;
    width:100%;
    height:50px;
    background-color:#181830;
    align-items:center;
    position:fixed;
    top:0;
    z-index:1;}
#top-header:hover{
    background-color:#202040;}

#top-header_title{
    color:#8787fa;
    font-family:"Comic Sans MS";
    font-size:30px;
    padding:10px;}
#top-header_title:hover{
    color:aliceblue;
    position:relative;}

#left-sidebar{
    position:fixed;
    top:50px;
    width:200px;
    height:calc(100vh - 50px);
    background-color:#0c0c18;}
#left-sidebar:hover{
    background-color:#101020;}

#right-sidebar{
    position:fixed;
    top:50px;
    right:0;
    width:350px;
    height:calc(100vh - 50px);
    background-color:aliceblue;}
#right-sidebar:hover{
    background-color:#8787fa;}   